@using someOnlineStore.Data.ViewModels;
@model PasswordChangeVM;

@section Scripts
{
    <script src="~/js/Profile.js"></script>
}

<div id="passwordChangeWrap">
    @await Component.InvokeAsync("PasswordChangeForm", new PasswordChangeFormVM{ Id = Model.Id, token = Model.token} )
</div>