@using someOnlineStore.Data.ViewModels;
@model PasswordChangeVM;

<div id="passwordChangeWrap">
    @await Component.InvokeAsync("PasswordChangeForm", new PasswordChangeFormVM{ Id = Model.Id, token = Model.token} )
</div>