@using someOnlineStore.Data.ViewModels
@model UserVM

<div id="passwordCheckOverlay" class="coverScreen display-none align-items-center justify-content-center">
    @await Component.InvokeAsync("PasswordCheck")
</div>

<div class="row col-md-10 offset-1">
    <div class="mb-lg-5">
        <div class="btn-group offset-3">
            <button type="button" class="btn btn-outline-secondary" onclick="profileGeneral()">General</button>
            <button type="button" class="btn btn-outline-secondary" onclick="profileSecurity()">Security</button>
        </div>
        <div class="card col-md-6 offset-3" id="profileGeneralEdit">
            @await Component.InvokeAsync("ProfileEdits", new ProfileGeneralEditsVM{ Username = Model.Username,
            Adress = Model.Adress, PhoneNumber = Model.PhoneNumber })
        </div>
        <div class="card col-md-6 offset-3" id="profileSecuritylEdit">
            <div class="form-group col-md-6 offset-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly />
                <button class="btn btn-danger" onclick="passwordCheckPopup(1)">Change Email</button>
            </div>
            <div class="col-md-6 offset-3 ">
                <button class="btn btn-danger" onclick="passwordCheckPopup(2)">Change passwords</button>
            </div>
        </div>
    </div>

    <div class="col-md-10 offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="overflow-scroll">
                @for (var i = 0; i < Model.orders.Count; i++)
                {

                    <tr>
                        <th scope="row">
                            <a asp-action="Details" asp-controller="Order" asp-route-Id=@Model.orders[i].Id>@i</a>
                        </th>
                        <td>some date</td>
                        <td>@Model.orders[i].Total</td>
                        <td>@Model.orders[i].orderStatus</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>