<div id="overlay" Style = "@(TempData["EmptyPass"] != null ? "visibility: visible !important; opacity: 1 !important;" : "")">
    <div id="passwordCheck">
        <form asp-action="checkPassword" method="get">
            <div class="form-group">
                <label class="form-label">Confirm your current password</label>
                <input class="form-control" name="password"/>
                @if (TempData["EmptyPass"] != null)
                {
                 <span class="text-danger">@TempData["EmptyPass"]</span>   
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-outline-success form-control"/>
                <a asp-controller="Profile" asp-action="Profile">Cancel</a>
            </div>
        </form>
    </div>
</div>
