@using someOnlineStore.Data.Static
@model Products

@section Scripts
{
    <script src="~/js/Home.js"></script>
}

<div class="col-md-10 offset-1">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <img src=@Model.image alt="Product Image" style="width : 100%; height : 300px"/>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <label asp-for="ProductName" class="form-label border-bottom"></label>
                    <p>@Model.ProductName</p>
                </div>
                <hr/>
                <div class="col-md-12">
                    <label asp-for="price" class="form-label border-bottom"></label>
                    <p>@($"{Model.price}$")</p>
                </div>
                <hr/>
                <div class="col-md-12">
                    <label asp-for="Categories" class="form-label border-bottom"></label>
                    <ul>
                        @foreach (var category in SupportedCategories.Categories)
                        {
                            if (Model.Categories.HasFlag(category))
                            {
                                <li>@category</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>