html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.border-round {
    border-radius: 5px;
}

/*Utils*/
.coverScreen {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.display-none {
    display: none;
}

/*Toggles*/
.show {
    display: flex;
}

/*Home related*/
#filter {
    border: solid blue;
    border-width: 2px;
    max-height: 0px;
    opacity: 0;
    transition: max-height 1s, opacity 2s;
    overflow: hidden;
}

.editProductImage {
    height: 300px;
}

/*Profile related*/
#profileGeneralEdit {
    z-index: 0;
    height: 300px;
}

#profileSecuritylEdit {
    z-index: 0;
    display: none;
    height: 300px;
}

#passwordCheck {
    border: solid grey;
    border-width: 2px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
}

    #passwordCheck > form {
        margin: 5%;
    }


/*Orders related*/
.cartItem {
    height: 100px;
}
